@model WebBanHang.Models.Product


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    int numOfQuantity = 1;
}

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cửa Hàng</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Giới Thiệu</a></li>
        <li class="breadcrumb-item"><a href="#">Trang</a></li>
        <li class="breadcrumb-item active text-white">Cửa Hàng</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="@Model.ImageUrl" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">@Model.Name</h4>
                        <p class="mb-3">Loại: @Model.Category.Name</p>
                        <h5 class="fw-bold mb-3">@Model.Price VNĐ</h5>
                        <div class="d-flex mb-4">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="mb-4">@Model.Description</p>
                        
                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input id="quantityInput" type="text" class="form-control form-control-sm text-center border-0" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-plus rounded-circle bg-light border" >
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <a id="addToCartLink" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 text-primary">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                        </a>
                        
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-4 col-xl-3" style="float: right">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <div class="input-group w-100 mx-auto d-flex mb-4">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                        @await Component.InvokeAsync("MenuLoai")
                    </div>
                    <div class="col-lg-12">

                        <div class="d-flex align-items-center justify-content-start">
                            
                            <div>
                                
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            
                    </div>
                    
                </div>
            </div>
        </div>
            <div class="col-lg-12">
                <nav>
                    <div class="nav nav-tabs mb-3">
                        <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                aria-controls="nav-about" aria-selected="true">
                            Chi Tiết Sản Phẩm
                        </button>
                        
                    </div>
                </nav>
                <div class="tab-content mb-5">
                    @foreach (var item in ViewBag.ProductImages)
                    {
                        <img src="@item" alt="Product Image" style="width: 500px; height: 350px; object-fit:cover" />
                    }
                </div>
        <h1 class="fw-bold mb-0">Related products</h1>
        <div class="vesitable">
            <div class="owl-carousel vegetable-carousel justify-content-center">
                    @foreach (var item in ViewBag.productList_8)
                    {

                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <a href="@Url.Action("Details", "Product1", new { id = item.Id })">
                                <img src="@item.ImageUrl" style="height:23vh; width:30vw ; object-fit:cover" class="img-fluid w-100 rounded-top" alt="">
                            </a>
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.Category.Name</div>
                        <div class="p-4 pb-0 rounded-bottom">
                            <a href="@Url.Action("Details", "Product1", new { id = item.Id })" class="h5">@item.Name</a>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <a href="@Url.Action("Details", "Product1", new { id = item.Id })" class="text-dark fs-5 fw-bold">@item.Price</a>
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                    }
            </div>
        </div>
            
    <script>
        var quantityInput = document.getElementById('quantityInput');

        function increaseQuantity() {
            var quantity = parseInt(quantityInput.value);
            quantityInput.value = quantity + 1;
        }

        function decreaseQuantity() {
            var quantity = parseInt(quantityInput.value);
            if (quantity > 1) {
                quantityInput.value = quantity - 1;
            }
        }

        addToCartLink.addEventListener('click', function (event) {
            event.preventDefault(); // Ngăn chặn chuyển hướng mặc định

            var quantity = parseInt(quantityInput.value);
            var url = addToCartLink.getAttribute('href');
            var updatedUrl = url.replace(/quantity=\d+/, 'quantity=' + quantity);
            window.location.href = updatedUrl;
        });
    </script>
</div>
<!-- Single Product End -->