@model WebBanHang.Models.DisplayProductsViewModel
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "DisplayProducts";
    int numOfQuantity = 1;

}

<h1>DisplayProducts</h1>

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cửa Hàng</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Giới Thiệu</a></li>
        <li class="breadcrumb-item"><a href="#">Trang</a></li>
        <li class="breadcrumb-item active text-white">Cửa Hàng</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Cửa hàng quà tặng</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form action="/Product1/Search" method="get">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input type="text" name="query" class="form-control p-3" placeholder="Từ khóa" aria-describedby="search-icon-1" id="searchInput">
                                <button type="submit" class="btn btn-secondary"><span id="search-icon-1"><i class="fa fa-search"></i></span></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                  @*       <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            
                        </div> *@
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">

                            @await Component.InvokeAsync("MenuLoai")
                            <div class="col-lg-12">
                              </div>  
                                
                        </div>
                    </div>


                    <div class="col-lg-9">

                        <div class="row g-4 justify-content-center">
                            @foreach (var item in Model.Products)
                            {

                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <a href="@Url.Action("Details", "Product1", new { id = item.Id })">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="height:23vh; width:30vw ; object-fit:cover" class="img-fluid w-100 rounded-top" alt="Image">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Category.Name</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>@item.Name</h4>
                                            <p>@item.Description</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">@item.Price VNĐ</p>
                                                        <a id="addToCartLink" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 text-primary fa fa-shopping-bag me-2" > </a>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>


                            }
                            
                            <div class="col-12">
                                <div class="col-12">
                                    <div class="pagination d-flex justify-content-center mt-5">
                                        @Html.PagedListPager(Model.Products, page => Url.Action("DisplayProducts", new { categoryId = Model.Category.Id, page }),
                                                 new PagedListRenderOptions
                                        {
                                            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                            DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                            DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                            DisplayLinkToIndividualPages = true,
                                            LinkToFirstPageFormat = "&laquo;",
                                            LinkToPreviousPageFormat = "&lsaquo;",
                                            LinkToNextPageFormat = "&rsaquo;",
                                            LinkToLastPageFormat = "&raquo;",
                                            MaximumPageNumbersToDisplay = 5,
                                            ContainerDivClasses = new[] { "pagination" },
                                            UlElementClasses = new[] { "pagination" },
                                            LiElementClasses = new[] { "page-item" },
                                            PageClasses = new[] { "page-link" },

                                        })
                                    </div>
                                        
@*                                 <div class="pagination d-flex justify-content-center mt-5">
                                    <a href="#" class="rounded">&laquo;</a>
                                    <a href="#" class="active rounded">1</a>
                                    <a href="#" class="rounded">2</a>
                                    <a href="#" class="rounded">3</a>
                                    <a href="#" class="rounded">4</a>
                                    <a href="#" class="rounded">5</a>
                                    <a href="#" class="rounded">6</a>
                                    <a href="#" class="rounded">&raquo;</a> *@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

<!-- Fruits Shop End-->