@model IEnumerable<WebBanHang.Models.Product>
@{
	ViewData["Title"] = "Home Page";
	int numOfQuantity = 1;
}
<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">Quà tặng lưu niệm cho mọi người</h4>
                <h1 class="mb-5 display-3 text-yellow">Ngon, bổ, rẻ!</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Tìm kiếm">
                    <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Tìm kiếm</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="~/img/smelly.jpg" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="#" class="btn-primary px-4 py-2 text-white rounded">Nước hoa</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="~/img/watch.jpg" class="img-fluid w-100 h-100 rounded"  alt="Second slide">
                            <a href="#" class="btn-primary px-4 py-2 text-white rounded">Đồng hồ</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="~/img/bamboo.webp" class="img-fluid w-100 h-100 rounded"  alt="Third slide">
                            <a href="#" class="btn-primary px-4 py-2 text-white rounded">Ống tre</a>
                        </div>
 
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-primary mb-5 mx-auto">
                        <i class="fas fa-car-side fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Vận chuyển nhanh chóng</h5>
                        <p class="mb-0">Fast delivery</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-primary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Thanh toán bảo mật</h5>
                        <p class="mb-0">Secured payment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-primary mb-5 mx-auto">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Hỗ trợ đổi trả 30 ngày </h5>
                        <p class="mb-0">30 days return policy</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-primary mb-5 mx-auto">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Hỗ trợ 24/7</h5>
                        <p class="mb-0">24/7 customer service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featurs Section End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-5 text-primary">
                    <h1>Sản phẩm của chúng tôi </h1>
                </div>
                <div class="col-lg-7 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                                <span class="text-dark" style="width: 130px;">Quà Tặng</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                                <span class="text-dark" style="width: 130px;">Quà Tặng</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                @foreach (var item in ViewBag.productss)
                                {
                                    
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <a href="@Url.Action("Details", "Product1", new { id = item.Id })">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="">
                                                <img src="@item.ImageUrl" style="height:23vh; width:30vw ; object-fit:cover" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.Category.Name</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>@item.Name</h4>
                                                <p>@item.Description</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">@item.Price VNĐ</p>
@*                                                         <button data-productId="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary add-to-cart"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
 *@
                                                        <a id="addToCartLink" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 text-primary fa fa-shopping-bag me-2" >

                                                            @*                 <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                        *@                   
                                                        </a>

                                                </div>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
<!-- Featurs Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-secondary rounded border border-secondary">
                        <img src="~/img/watch.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-primary text-center p-2 rounded">
                                <h5 class="text-info"> ĐỒNG HỒ </h5>
                                <h4 class="mb-0 text-light" > Sang trọng & Lịch lãm </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-dark rounded border border-dark">
                        <img src="~/img/smelly.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-light text-center p-2 rounded">
                                <h5 class="text-danger"> NƯỚC HOA </h5>
                                <h4 class="mb-0"> Thanh tao & Gợi cảm   </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-primary rounded border border-primary">
                        <img src="~/img/bamboo.webp" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-secondary text-center p-2 rounded">
                                <h5 class="text-white"> ỐNG TRE </h5>
                                <h4 class="mb-0"> Thân thiện & Hữu dụng </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Featurs End -->
<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Danh mục những sản phẩm bán chạy</h1>
            <div class="owl-carousel vegetable-carousel justify-content-center">
                @foreach (var item in ViewBag.productsss)
                {
                    <div class="border border-primary rounded position-relative vesitable-item">
                    <a href="@Url.Action("Details", "Product1", new { id = item.Id })">
                        <div class="vesitable-img">
                        <img src="@item.ImageUrl" style="height:23vh; width:30vw ; object-fit:cover" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.Category.Name</div>
                        <div class="p-4 rounded-bottom">
                            <h4>@item.Name</h4>
                            <p>@item.Description</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">@item.Price</p>
                            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </div>
                        </div>
                        </a>
                    </div>
                   
                }
            </div>
    </div>
</div>
<!-- Vesitable Shop End -->
<!-- Banner Section Start-->
<div class="container-fluid banner bg-banner my-5">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <div class="py-4">
                    <h1 class="display-3 text-primary">Sản phẩm bán chạy </h1>
                    <p class="fw-normal display-3 text-dark mb-4">Có trong cửa hàng </p>
                    <p class="mb-4 text-dark">
                        Quả cầu tuyết, hay còn gọi là quả cầu pha lê, là món đồ trang trí độc đáo với vẻ đẹp lung linh huyền ảo. Bên trong quả cầu là một khung cảnh miniature được bao bọc bởi dung dịch lấp lánh, cùng những hạt tuyết nhân tạo lững lờ rơi xuống khi lắc nhẹ.
                    </p>
                    <a href="/Product1/Index" class="banner-btn btn-primary border-2 border-white rounded-pill text-white py-3 px-5">Mua ngay</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="position-relative">
                    <img src="~/img/banchay.jpg" class="img-fluid w-120 rounded " alt="">

                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>
<!-- Banner Section End -->
<!-- Bestsaler Product Start -->
<div class="container-fluid py-4">
    <div class="container py-4">
        <div class="text-center mx-auto mb-4" style="max-width: 1200px;">
            <h1 class="display-4">Ưu đãi chất chơi - khám phá muôn nơi  </h1>
            <p>Sản phẩn ưu đãi đặc biệt.</p>
        </div>
        <div class="row g-4">
            @foreach (var item in ViewBag.Cars)
                        {
            <div class="col-lg-6 col-xl-4">
                
                <div class="p-4 rounded bg-light">    
                    
                    <div class="row align-items-center">
                        
                            
                                <div  class="col-6">
                                <a href="@Url.Action("Details", "Product1", new { id = item.Id })">
                                    <img src="@item.ImageUrl" class="img-fluid rounded-circle w-100" alt="">
                                </a>
                                </div>
                                <div class="col-6">
                                <a href="@Url.Action("Details", "Product1", new { id = item.Id })" class="h5">@item.Name</a>
                                    <div class="d-flex my-3">
                                        <i class="fas fa-star text-star"></i>
                                        <i class="fas fa-star text-star"></i>
                                        <i class="fas fa-star text-star"></i>
                                        <i class="fas fa-star text-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <h4 class="mb-3">@item.Price VND</h4>
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 text-primary fa fa-shopping-bag me-2"></a>
                                </div>
                            
                        
                    </div>
                        
                </div>
                    
            </div>
            }
            @* <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="img/best-product-BRV.jpg" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">BR-V</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4 class="mb-3">661.000.000 VND</h4>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="img/best-product-CRV.jpg" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">CR-V</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4 class="mb-3">1.109.000.000 VND</h4>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="img/best-product-CIVIC.jpg" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">CiVic</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4 class="mb-3">730.000.000</h4>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="img/best-product-CIVIC_R.jpg" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">CiVic-Type-R</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4 class="mb-3">2.399.000.000 VND</h4>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="img/best-product-CITY.jpg" class="img-fluid rounded-circle w-100" alt="">
                        </div>
                        <div class="col-6">
                            <a href="#" class="h5">CiTy</a>
                            <div class="d-flex my-3">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4 class="mb-3">559.000.000 VND</h4>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div> *@
            @foreach (var item in ViewBag.Motors)
            {
            
            
                <div class="col-md-6 col-lg-6 col-xl-3">
                    
                    <div class="text-center">
                        <a href="@Url.Action("Details", "Product1", new { id = item.Id })">
                        <img src="@item.ImageUrl" style="height:23vh; width:30vw ; object-fit:cover" class="img-fluid rounded" alt="">
                        </a>
                    <div class="py-4">
                                <a href="@Url.Action("Details", "Product1", new { id = item.Id })" class="h5">@item.Name</a>
                                <div class="d-flex my-3 justify-content-center">
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                        <h4 class="mb-3">@item.Price VNĐ</h4>
                    </div>
                     </div>

                    <a id="addToCartLink" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 text-primary">

                        @*                 <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuantity" class="btn border border-secondary rounded-pill px-3 text-primary">
                    *@                    <i class="fa fa-shopping-bag me-2 text-primary"> Thêm vào vỏ</i>
                    </a>
                 </div>



            }
            
            @* <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="text-center">
                    <img src="img/fruite-item-Wave.jpg" class="img-fluid rounded" alt="">
                    <div class="py-4">
                        <a href="#" class="h5">Wave alpha</a>
                        <div class="d-flex my-3 justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="mb-3">17.000.000 VND</h4>
                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="text-center">
                    <img src="img/fruite-item-SH.jpg" class="img-fluid rounded" alt="">
                    <div class="py-4">
                        <a href="#" class="h5">Sh-160i</a>
                        <div class="d-flex my-3 justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="mb-3">96.000.000 VND</h4>
                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="text-center">
                    <img src="img/fruite-item-FU.jpg" class="img-fluid rounded" alt="">
                    <div class="py-2">
                        <a href="#" class="h5">FUture-125</a>
                        <div class="d-flex my-3 justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4 class="mb-3">32.000.000 VND</h4>
                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</div>
<!-- Bestsaler Product End -->
<!-- Fact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-yellow"></i>
                        <h4>Khách hàng hài lòng</h4>
                        <h1>10.200 người</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-yellow"></i>
                        <h4>Chất lượng dịch vụ </h4>
                        <h1>99,99%</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-yellow"></i>
                        <h4>Giấy chứng nhận chất lượng </h4>
                        <h1>10 chứng nhận</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-yellow"></i>
                        <h4>Sản phẩm có sẵn </h4>
                        <h1>22 sản phẩm</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact Start -->
<!-- Tastimonial Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">Khách hàng nói gì về chúng tôi </h4>
            <h1 class="display-5 mb-5 text-dark">Khách hàng của chúng tôi nói !</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item img-border-radius bg-light rounded p-4" style="height: 25,5vh; width: 35vw">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">
                            Sản phẩm có chất lượng rất tốt, giá cả hợp lý và dịch vụ khách hàng tuyệt vời. Tôi sẽ definitely quay lại mua hàng ở đây
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="img/testimonial-11.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark"> Phúc Ngô </h4>

                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item img-border-radius bg-light rounded p-4" style="height: 25,5vh; width: 35vw">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">
                            Tôi rất hài lòng với dịch vụ. Nhân viên rất nhiệt tình và chuyên nghiệp, giải đáp cho tôi tốt. Tôi sẽ giới thiệu dịch vụ này cho mọi người.
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="img/testimonial-11.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">Ngọc Hiếu </h4>

                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item img-border-radius bg-light rounded p-4" style="height: 25,5vh; width: 35vw">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">
                            Đã mua nhiều sản phẩm của họ và chưa bao giờ thất vọng, đồ được đóng gói kĩ, giao hàng khá nhanh. Tôi tin tưởng vào chất lượng sản phẩm và dịch vụ của trang!
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="img/testimonial-11.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark"> Tùng Nguyễn </h4>

                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                                <i class="fas fa-star text-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* <script>
    $(document).ready(function () {
        $(".add-to-cart").on("click", function (e) {
            e.preventDefault();

            var productId = $(this).data("product-id");
            var quantity = 1;

            $.ajax({
                url: '/ShoppingCart/AddToCart',
                type: 'POST',
                data: { productId: productId, quantity: quantity },
                success: function (response) {
                    if (response.success) {
                        // Update the cart count or display a message
                        $("#cart-count").text(response.cartCount);
                        alert(response.message);
                    } else {
                        alert("There was an error adding the product to the cart.");
                    }
                },
                error: function () {
                    alert("An error occurred. Please try again.");
                }
            });
        });
    });
</script> *@
<!-- Tastimonial End -->