@model IEnumerable<WebBanHang.Models.Subcategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .detail {
        color: rgb(255, 220, 0);
    }

    body {
        color: #566787;
        background: #f5f5f5;
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
    }

    .table-responsive {
        margin: 30px 0;
    }

    .table-wrapper {
        min-width: 1000px;
        background: #fff;
        padding: 20px 25px;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 15px;
        background: #299be4;
        color: #fff;
        padding: 16px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

        .table-title .btn {
            color: #566787;
            float: right;
            font-size: 13px;
            background: #fff;
            border: none;
            min-width: 50px;
            border-radius: 2px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }

            .table-title .btn:hover, .table-title .btn:focus {
                color: #566787;
                background: #f2f2f2;
            }

            .table-title .btn i {
                float: left;
                font-size: 21px;
                margin-right: 5px;
            }

            .table-title .btn span {
                float: left;
                margin-top: 2px;
            }

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
        padding: 12px 15px;
        vertical-align: middle;
    }

        table.table tr th:first-child {
            width: 60px;
        }

        table.table tr th:last-child {
            width: 100px;
        }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }

    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
    }

        table.table td a:hover {
            color: #2196F3;
        }

        table.table td a.settings {
            color: #2196F3;
        }

        table.table td a.delete {
            color: #F44336;
        }

    table.table td i {
        font-size: 19px;
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    .text-success {
        color: #10c469;
    }

    .text-info {
        color: #62c9e8;
    }

    .text-warning {
        color: #FFC107;
    }

    .text-danger {
        color: #ff5b5b;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 2px !important;
            text-align: center;
            padding: 0 6px;
        }

            .pagination li a:hover {
                color: #666;
            }

        .pagination li.active a, .pagination li.active a.page-link {
            background: #03A9F4;
        }

            .pagination li.active a:hover {
                background: #0397d6;
            }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }

    .button {
        color: #03A9F4;
    }

        .button:hover {
            color: #0275a8;
        }

    .search {
        border: 1.5px solid black;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 7px;
        margin-right: 15px;
        margin-left: 0px;
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>SHOP</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="ms-3">
                <h6 class="mb-0">ADMIN</h6>
            </div>
        </div>
        <div class="navbar-nav w-100">
            @* fa fa-tachometer-alt me-2 *@
            <a asp-action="Index" asp-controller="Staff" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Quản lý nhân viên</a>
            <a asp-action="Index" asp-controller="Customer" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Quản lý khách hàng</a>
            <a asp-action="Index" asp-controller="Discounts" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Quản lý mã giảm giá</a>
            <a asp-action="Index" asp-controller="Category" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Quản lý danh mục</a>
            <a asp-action="Index" asp-controller="Subcategories" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Quản lý danh mục con</a>
            <a asp-action="Index" asp-controller="Order" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Cập nhật trạng thái đơn hàng</a>
            <a asp-action="Index" asp-controller="Supplier" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Quản lý các nhà cung cấp</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Hàng hóa</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a asp-action="Add" asp-controller="Product" class="dropdown-item">Nhập thêm hàng vô kho</a>
                    <a asp-action="Index" asp-controller="Product" class="dropdown-item">Xem kho</a>
                </div>
            </div>
            <a asp-action="Index" asp-controller="Statics" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Thống kê</a>

        </div>
    </nav>
</div>
<!-- Sidebar End -->
<div style="padding-top:100px; padding-left:50px">
    <form asp-action="Index" method="get" class="d-none d-md-flex ms-4 ">
        <input class="search" type="text" name="searchString" placeholder="Tìm kiếm" value="@ViewData["CurrentFilter"]" />

        <input class="btn border border-secondary rounded-pill px-3 text-primary button" type="submit" value="Tìm kiếm" />
    </form>

    <p>
        <a asp-action="Create" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="bi bi-plus-square-fill"></i> Tạo mới</a>
    </p>
    @* <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Name)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="bi bi-pencil-square"></i>Sửa</a>
    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="bi bi-list-task"></i>ChiTiết</a>
    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="bi bi-trash"></i>Xóa</a>
    </td>
    </tr>
    }
    </tbody>
    </table> *@
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>

                                <th scope="col">Danh mục con</th>
                                <th scope="col">Danh mục </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td><span @* class="badge badge-soft-danger mb-0" *@>@item.Name</span></td>
                                    <td><span @* class="badge badge-soft-danger mb-0" *@>@item.Category.Name</span></td>
                                    <td>
                                        <ul class="list-inline mb-0" style="align-items:center">

                                            <li class="list-inline-item">
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="settings" title="Chỉnh sửa" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" title="Chi tiết"><i class="material-icons detail">edit</i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a onclick="confirmDelete(@item.Id)" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                                            </li>

                                        </ul>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function confirmDelete(id) {
            if (confirm("Bạn có chắc chắn muốn xóa mục này?")) {
                $.ajax({
                    url: '@Url.Action("DeleteConfirmed", "Category")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        // Nếu thành công, tải lại trang hoặc xóa hàng từ bảng
                        location.reload(); // Hoặc bạn có thể xóa hàng từ bảng thay vì tải lại trang
                    },
                    error: function (xhr, status, error) {
                        alert("Đã xảy ra lỗi: " + error);
                    }
                });
            }
        }
    </script>
}
