@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<h1>Danh mục</h1>

@foreach (var category in Model){
    <h2>@category.Name</h2>
    <ul>
        @foreach (var subcategory in category.Subcategories)
        {
            <li>
                @subcategory.Name
                <a href="@Url.Action("EditSubcategory", new { categoryId = category.Id, subcategoryId = subcategory.Id })">Sửa</a>
                <a href="@Url.Action("DeleteSubcategory", new { categoryId = category.Id, subcategoryId = subcategory.Id })">Xóa</a>
            </li>
        }
    </ul>

    <p>
        <a href="@Url.Action("CreateSubcategory", new { categoryId = category.Id })">Thêm mục con mới</a>
    </p>
}