@page

@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div style="padding-top:250px; padding-left:50px">
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-secondary">Log in</button>
                </div>
                <div>
                    <p>
                            <a href="https://localhost:7215/Account1/ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-secondary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</div> *@

@* <style>
    .btn-secondary {
        display: flex;
        align-items: center;
        padding: 4px 8px; /* Adjust padding to make the button smaller */
        font-size: 0.875rem; /* Adjust font size to make text smaller */
    }

        .btn-secondary .bg-white {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px; /* Adjust icon container size */
            padding: 2px;
            border-radius: 50%;
        }

        .btn-secondary svg {
            width: 16px; /* Adjust SVG size */
            height: 16px;
        }

        .btn-secondary .ml-2 {
            margin-left: 8px; /* Adjust margin to fit smaller button size */
        }
</style> *@

<!doctype html>
<html lang="en">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style1.css">


</head>
<body class="img" style="background-image: url(/images/login2.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Đăng Nhập</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Bạn đã có tài khoản?</h3>
                        <form id="account" class="signin-form" method="post">
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control" placeholder="Tên đăng nhập" autocomplete="username" aria-required="true">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>                         
                            <div class="form-group">
                                <input asp-for="Input.Password" id="password-field" type="password" class="form-control" placeholder="Password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group d-md-flex">
                                <div class="checkbox mb-3">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        Nhớ tài khoản
                                        <span style="margin-left:27px">
                                        <input class="form-check-input" asp-for="Input.RememberMe " style="margin-top:8px"/>
                                        </span>
                                        
                                    </label>
                                </div>
                                
                                
                                <div class="w-50 text-md-right" style="margin-left:37px">
                                    <a asp-area="" asp-controller="Account1" asp-action="ForgotPassword" style="color: #fff">Quên mật khẩu?</a>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <button id="login-submit" type="submit" class="btn btn-primary form-control submit px-3">Đăng nhập</button>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div style="display:flex; " class=" text-md-left" >
                                <p > Bạn chưa có tài khoản? </p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="padding-left:4px"> Đăng kí</a>
                            </div>
                        </form>
                        <p class="w-100 text-center">&mdash; Hoặc đăng nhập bằng &mdash;</p>
                        <div class="social d-flex text-center" style="justify-content:center">
                            
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                article
                                                about setting up this ASP.NET application to support logging in via external services
                                            </a>.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button name="provider" value="@provider.Name" class="btn btn-secondary d-flex align-items-center p-2" style="justify-content:center">
                                                        <div class="bg-white p-1 rounded-full d-flex justify-content-center align-items-center" style="width: 30px; height: 25px; border-radius: 50%">
                                                            <svg class="w-3" viewBox="0 0 533.5 544.3" style="width: 16px; height: 16px;">
                                                                <path d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
                                                                      fill="#4285f4" />
                                                                <path d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
                                                                      fill="#34a853" />
                                                                <path d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z"
                                                                      fill="#fbbc04" />
                                                                <path d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
                                                                      fill="#ea4335" />
                                                            </svg>
                                                        </div>
                                                        <span class="ml-2">
                                                            Đăng nhập với Google
                                                        </span>
                                                    </button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main1.js"></script>
    <style>
        .col-md-6 {
            width: 100%;
            height: 100%;
            overflow-x: hidden; /* Prevent horizontal scroll */
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .panel {
            width: 400px; /* Hoặc bất kỳ kích thước cố định nào bạn muốn */
            margin-top: 50px; /* Đảm bảo phần tử không mất ở phía trên khi zoom */
        }

        .img {
            background-image: url('/images/login2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            width: 100%;
            height: 100%;
        }

        .field-icon {
            top: 40%;
        }
        .form-control {
            background: transparent;
            border: none;
            height: 50px;
            color: rgba(255, 255, 255, 1) !important;
            border: 1px solid black;
            background: rgba(255, 255, 255, .15);
            border-radius: 40px;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: -10px;
        }

        .ftco-section {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            padding: 0;
        }

        .login-wrap {
            width: 100%;
            max-width: 400px;
            margin: auto;
            padding: 20px;
            box-sizing: border-box;
        }

        .signin-form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                margin-bottom: 10px;
                display: block;
            }

        .checkbox-wrap {
            display: flex;
            align-items: center;
        }

            .checkbox-wrap input {
                margin-right: 10px;
            }

        .social {
            margin-top: 20px;
        }

            .social a {
                flex: 1;
                margin: 0 5px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .form-control.btn {
            background-color: #007bff; /* Màu nền mặc định */
            color: #fff; /* Màu chữ mặc định */
            border: 2px solid #007bff; /* Đường viền mặc định */
            padding: 10px 20px; /* Kích thước lề */
            transition: all 0.3s; /* Hiệu ứng chuyển đổi cho tất cả các thuộc tính */
        }

            .form-control.btn:hover {
                background-color: #0056b3; /* Màu nền khi trỏ chuột */
                border-color: #0056b3; /* Đường viền khi trỏ chuột */
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng khi trỏ chuột */
            }
    </style>
</body>

</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
