@model IEnumerable<WebBanHang.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="padding-top: 200px;padding-left:50px">
    <h1>Quản lý đơn hàng</h1>

    <form method="get">
        <label for="date">Chọn ngày:</label>
        <input type="date" id="date" name="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <button type="submit" class="btn btn-outline-success btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="bi bi-eye"></i>Xem</button>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tên Khách hàng</th>
                                <th scope="col">Ngày Đặt Hàng</th>
                                <th scope="col">Địa Chỉ</th>
                                <th scope="col">Tổng Tiền</th>
                                <th scope="col">Ghi Chú</th>
                                <th scope="col">Trạng Thái</th>
                                <th scope="col">Cập Nhật Trạng Thái</th>
                                <th scope="col" style="width: 200px;height:100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>

                                        <p class="text-body">@item.Id</p>
                                    </td>
                                    <td><span class="badge badge-soft-success mb-0">@item.CustomerName</span></td>
                                    <td><span class="badge badge-soft-success mb-0">@item.OrderDate</span></td>
                                    <td><span class="badge badge-soft-success mb-0">@item.ShippingAddress</span></td>
                                    <td><span class="badge badge-soft-danger mb-0">@item.TotalPrice</span></td>
                                    <td><span class="badge badge-soft-danger mb-0">@item.Notes</span></td>
                                    <td><span class="badge badge-soft-danger mb-0">@item.Status</span></td>
                                    <td>
                                        <span class="badge badge-soft-danger mb-0">
                                            <form asp-action="UpdateStatus" method="post">
                                                <input type="hidden" name="orderId" value="@item.Id" />
                                                <select name="status">
                                                    <option value="@OrderStatus.Chưa_Giải_Quyết" >Chờ xử lý</option>
                                                    <option value="@OrderStatus.Đã_Xử_Lí">Đang xử lý</option>
                                                    <option value="@OrderStatus.Đã_Vận_Chuyển">Đã gửi</option>
                                                    <option value="@OrderStatus.Đã_Giao_Hàng">Đã giao hàng</option>
                                                    <option value="@OrderStatus.Đã_Hủy">Đã hủy</option>
                                                </select>
                                                <button type="submit" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="bi bi-arrow-bar-up"></i>Cập nhật trạng thái</button>
                                            </form>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge badge-soft-danger mb-0">
                                            <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa" class="px-2 text-danger"><i class="bi bi-trash font-size-200"></i></a>
                                        </span>
                                    </td>
                                    
                                        <td>
                                        <ul class="list-inline mb-0" style="align-items:center">
                                        </ul>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</div>