@model WebBanHang.Models.Order

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="container mt-5 d-flex justify-content-center" style="padding-top:200px;">
    <div class="card p-4 mt-3">
        <div class="first d-flex justify-content-between align-items-center mb-3">
            <div class="info">
                <span class="d-block name">Cảm ơn vì đã chọn chúng tôi, @Model.CustomerName</span>
                <span class="order">Hóa đơn ID#@Model.Id</span>

            </div>

            <img src="https://i.imgur.com/NiAVkEw.png" width="40" />


        </div>
        <div class="detail">
            <span class="d-block summery">Hệ thống đã nhận được đơn hàng của bạn!</span>
        </div>
        <hr>
        <div class="text">
            <span class="d-block new mb-1">@Model.CustomerName</span>
        </div>
        <span class="d-block address mb-3">@Model.ShippingAddress</span>
        <div class="  money d-flex flex-row mt-2 align-items-center">
            <img src="https://i.imgur.com/ppwgjMU.png" width="20" />
            <span class="ml-2">Tiền mặt</span>


        </div>
        <div class="form-group">
            <span class="txt-bold">@Model.TotalPrice.ToString("N0")₫</span>
        </div>
        <hr>
        <div class="detail">
            <span class="d-block summery">Ghi chú:</span>
            <div class="form-group">
                <span class="d-block address">@Model.Notes</span>
            </div>
        </div>
        <div class="last d-flex align-items-center mt-3">
            <a href="~/Home/Index" class="btn btn-secondary cart-btn-transform m-3" data-abc="true">Quay lại mua sắm</a>

        </div>
    </div>
</div>